h1,h2,h3,h4,i {color:blue; line-height=100%}
li {margin-top:0.5em;}
pre, .green {color:green; margin-left:2em; overflow:auto;}
code {color:darkblue; font-size:110%;}
body {font-family:verdana,helvetica,arial,sans-serif; font-size=80%; line-height=150%}
.figure {color:blue}
.indent {margin-left:1em; font-size:85%;}
.half-line {margin-top:0.3em}
.caution {color:red; border:solid 1px red; padding:0.5em;}